body {
    margin: 20px 20px;
    margin-top: 50px;
}
ul.navbar {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444444;
    position: fixed;
    top: 0;
    left: 0;
}
ul.navbar li {
    float: left;
}
ul.navbar li a {
    display: block;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;
}
ul.navbar li a:hover:not(.active) {
    background-color: #646464;
}
ul.entries {
    list-style: none;
    padding-left: 0;
}
ul.entries > li {
    margin-bottom: 60px;
}
.active {
    background-color: #323232;
}
.main {
    margin: 10px;
}